@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

ul, li, ol {list-style: none;}

a{text-decoration: none; color: inherit;}

#wrap{
    width: 100%;
    /* height: 100%; html,body에 높이가 없으니 높이 100프로 쓸수 없으 그래서 높이 100vh 사용 */
    height: 100vh;
    background-color: #f1f1f1;
    position: relative;
}

.m_wrap{
    width: 360px;
    height: 350px;
    position: absolute;
    left: 50%;top: 200px;
    transform: translateX(-50%);
}

/* .pc_wrap > img{} */

.box{
    width: 144px;
    height: 255px;
    position: absolute;
    top: 44px;right: 10.5px;
    overflow: hidden;
}

.box img{
    width: 100%;
    position: absolute;
    left: 0;top: 0;
    cursor: pointer;
}

.box:hover img{
    animation: ani01 15s 1s infinite ease-in;
}
@keyframes ani01{
    0%{top: 0;}
    50%{top: calc(-1849px + 255px);}
    100%{top: 0;}
}
