@charset "utf-8";

*{margin: 0; padding: 0; }

ul, li, ol {list-style: none;}

a{text-decoration: none; color: inherit;}

/* body{background-color: #f1f1f1;} */

/* img{max-width: 100%; vertical-align: top;} */

/* table{border-collapse: collapse;} */

